body, h1, body, div, a, ol, ul, li, h2, p, em, img, button {
	padding: 0;
	margin: 0;
	outline: 0;	
	font-family: 'Quicksand', sans-serif;
	font-weight: 300;
}

body {
	background-color: white;
	width: 100%;
	overflow-x: hidden;
}

#logo {
	position: fixed;
	top: 5px;
	left: 10px;
	width: 120px;
	z-index: 99;
	transition-duration: 0.2s;
}

#logo img {
	width: 100%;
}

#logo:hover {
	opacity: 0.9;
	transform: rotateZ(180deg);
	cursor: pointer;
}

#header {
	padding-top: 30vh;
	width: 100%;
	margin: auto;
	display: block;
	height: 100vh;
	text-align: center;
	color: white;
	position: absolute;
	z-index: 88;
}

#headermask {
	position: absolute;
	z-index: 20;
	background: linear-gradient(#3BB5DB, #6A00FF);
	width: 150%;
	margin-left: -25%;
	height: 115vh;
	opacity: 0.6;
	top: 0;
	left: 0;
	border-radius: 0px 0px 100% 100%;
}

#headerimg {
	position: absolute;
	z-index: 0;
	background: url('images/header.jpg');
	background-size: 100%;
	filter: blur(5px);
	width: 150%;
	margin-left: -25%;
	height: 115vh;
	top: 0;
	left: 0;
	border-radius: 0px 0px 100% 100%;
}

#header h1 {
	margin: auto;
	display: block;
	font-size: 100px;
	transition-duration: 0.2s;
}

#header h3 {
	font-size: 40px;
	margin-bottom: 30px;
}

#header a {
	font-size: 24px;
	padding: 10px 40px;
	transition-duration: 0.2s;
	border: 2px solid white;
	color: white;
	border-radius: 30px;
}

/*  #461f71     #f2bb1d*/

#header a:hover {
	text-decoration: none;
	background-color: #320E3B;
	border: 2px solid #320E3B;
	cursor: pointer;
	padding: 12px 50px;
	letter-spacing: 2px;
}

#info {
	position: relative;
	top: 115vh;
	text-align: left;
	padding: 15vh 10%;
	font-size: 30px;
}

#info h1 {
	font-size: 40px;
	color: #3BB5DB;
	padding-bottom: 30px;
}

#faq {
	background: linear-gradient(#192D43, #223);
	width: 170%;
	margin-left: -35%;
	position: relative;
	top: 115vh;
	text-align: center;
	padding: 15vh 40% 15vh 40%;
	border-radius: 100%;
	color: white;
	z-index: 20;
}

#faq h1 {
	font-size: 50px;
	padding-bottom: 30px;
}

.faqq {
	padding: 10px 0px;
	font-size: 26px;
}

.faqa {
	padding-bottom: 30px;
	font-size: 20px;
	line-height: 34px;
}

#schedule {
	padding: 280px 10% 190px 10%;
	position: relative;
	margin-top: -170px;
	z-index: 0;
	top: 115vh;
	background: linear-gradient(0deg, black, #3BB5DB);
	text-align: center;
}

#schedule h1 {
	font-size: 60px;
	color: white;
}

#schedule h3 {
	font-size: 35px;
	color: white;
	padding: 20px 0px;
}

#schedule table {
	color: white;
}

#schedule th {
	text-align: center;
	font-size: 20px;
}

#schedule td {
	font-size: 20px;
	padding: 15px 0px;
	transition-duration: 0.2s;
}

#sponsors {
	padding: 80px 44% 300px 44%;
	background-color: white;
	position: relative;
	top: 115vh;
	text-align: center;
	border-radius: 100%;
	margin-top: -100px;
	width: 170%;
	margin-left: -35%;
}

#organizers {
	position: relative;
	top: 115vh;
	width: 100%;
	padding: 100px 8%;
	background: linear-gradient(white, #ccc);
}

#organizers h1 {
	font-size: 70px;
	text-align: center;
}

#organizers img {
	border-radius: 50%;
	width: 100%;
}

#organizers .col-sm-3 {
	margin: 30px 2%;
	width: 21%;
}

#organizers .descrip {
	position: relative;
}

#organizers .more {
	position: absolute;
	background-color: #e86b55;
	padding: 0px 20px 0px 20px;
	border-radius: 30px;
	top: 0px;
	right: 0;
	transition-duration: 0.2s;
}

#organizers .more .plus {
	color: white;
	margin: 0;
	font-size: 40px;
	margin-bottom: 5px;
	transition-duration: 0.2s;
}

.rotated {
	transform: rotate(45deg) translateX(5px);
	margin-bottom: 0px;
}

#organizers .more:hover {
	background-color: #d74228;
	cursor: pointer;
	box-shadow: 2px 2px 5px #444;
}

#organizers .more .showmore {
	display: none;
	margin: 0;
}

.showmore a {
	display: block;
	color: white;
	font-size: 25px;
	padding: 5px 0px;
	transition-duration: 0.2s;
}

.showmore a:hover {
	color: #3BB5DB;
}

#organizers h2 {
	padding-top: 20px;
	font-size: 35px;
	width: 75%;
}

#organizers h3 {
	font-size: 25px;
	width: 100%;
}

#sponsors h1 {
	font-size: 60px;
}

#sponsors .row {
	padding: 40px 0px 60px 0px;
}

#sponsors img {
	width: 100%;
}

#footer {
	width: 100%;
	padding: 60px 0px;
	z-index: 55;
	background: linear-gradient(#320E3B, #191D32);
	position: relative;
	top: 115vh;
}

#footer .col-sm-2 a, #footer .col-sm-1 a {
	margin: auto;
	display: block;
}

#footer a {
	font-size: 60px;
	padding: 20px 0px;
	color: white;
	text-align: center;
	transition-duration: 0.2s;
}

#footer a:hover {
	color: #F2BC20;
}





